.content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 150px;
}

@media (max-width: 1080px) {
    .content {
        padding: 0 100px;
    }
}

@media (max-width: 768px) {
    .content {
        padding: 0 25px;
    }
}