.experience {
    padding: 30px 0;
}

.experience h1 {
    font-size: clamp(26px, 5vw, 32px);
    margin-bottom: 40px;
    display: flex;
    align-items: center;
}

.experience h1::after {
    content: "";
    display: block;
    width: 300px;
    height: 1px;
    background-color: var(--bg-tertiary);
    margin-left: 20px;
}

.experience-card {
    margin-bottom: 30px;
    padding: 25px;
    background-color: var(--bg-secondary);
    border-radius: var(--border-radius);
    transition: var(--transition);
}

.experience-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 30px -15px rgba(2, 12, 27, 0.7);
}

.experience-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 5px;
}

.experience-title {
    color: var(--text-primary);
    font-size: var(--fz-xl);
    font-weight: 600;
}

.experience-period {
    color: var(--text-secondary);
    font-family: var(--font-mono);
    font-size: var(--fz-xs);
}

.experience-place {
    color: var(--accent-primary);
    font-family: var(--font-mono);
    font-size: var(--fz-sm);
    margin-bottom: 20px;
}

.experience-skills {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}