.pill {
    display: inline-block;
    color: var(--accent-primary);
    background-color: var(--accent-tint);
    font-family: var(--font-mono);
    font-size: var(--fz-xs);
    padding: 5px 10px;
    border-radius: 50px;
    margin-right: 5px;
    margin-bottom: 5px;
    transition: var(--transition);
}

.pill:hover {
    background-color: rgba(100, 255, 218, 0.2);
}